body{
    background-color: #444;
}

.bouncing-box {
    width: 50px;
    height: 50px;
    background-color: rgb(231, 76, 60);
    display: -webkit-inline-box;
}

.bouncing-box {
    width: 50px;
    height: 50px;
    background-color: rgb(231, 76, 60);
    border: 1px #ECF0F1 solid;
    position: fixed;
    top: 20%;
    left: 20%;
}

section.bounding-box {
    background-color: #2980B9;
    display: block;
    width: 99%;
    height: 80vh;
    margin: 0; 
    border: 1px #ECF0F1 solid;
}